/* Remove default margin & padding */
* {
  margin: 0;
  padding: 0;
}

/* Keep image same size as text content
(except for on mobile) */
img {
  max-width: 500px;
  height: auto;
}

/* Flexbox to center items */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

/* Rubik font from Google for headings, paragraphs,
& links */
h1, h2, h3, p, a {
  max-width: 500px;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  padding-top: 1rem;
}


/* Custom font weight for headings */
h1, h2, h3 {
  font-weight: 500;
}

/* Custom class for email link */
.email-link {
  font-style: italic;
}